table {
  border-width: thin;
  border-style: solid;
  background-color: lightblue;
  font-size: 14px;
  font-family: Arial;
  text-align: left;
  padding-left: 10px;
}
.botao {
  background-color: lightpink;
}
caption {
  font-size: 30px;
}
