p.titulo {
    text-align: left;
    background-color: aqua;
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
p.corpo {
    text-align: center;
    color: red;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
}